:root {
  color-scheme: dark;
}

body {
  width: 380px !important;
  height: 600px !important;
  /* max-width: 360px; */
  /* max-height: 530px; */
  margin: 0;
  
  @apply bg-background text-foreground border-0 outline-0;
}

#app {
  @apply flex flex-col flex-1 h-full overflow-hidden;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
}

.transparent-scroll:active::-webkit-scrollbar-thumb,
.transparent-scroll:focus::-webkit-scrollbar-thumb,
.transparent-scroll:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.transparent-scroll::-webkit-scrollbar-thumb {
    visibility: hidden;
}
