:root {
  color-scheme: dark;
}

body {
  width: 380px !important;
  height: 600px !important;
  /* max-width: 360px; */
  /* max-height: 530px; */
  margin: 0;

  @apply bg-background text-foreground;
}

#app {
  @apply flex flex-col flex-1 h-full overflow-hidden;
}

html,
body {
  font-family: "Noto Sans", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 2147483647s;
  -webkit-text-fill-color: hsl(var(--secondary-foreground)) !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  /* Customize the scrollbar width */
  @apply w-2;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  @apply bg-accent rounded-full;
}
